<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="base_template">
<head>
    <link rel="stylesheet" href="/md-editor/md-editor.css">
    <script type="text/javascript" src="/md-editor/md-editor.js"></script>
    <title th:text="${title}"></title>
</head>
<body>
<div layout:fragment="content" class="height-inherit" th:text="${content}"></div>
</body>
</html>