.main {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
}

.height-inherit {
    height: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.overflow {
    overflow: hidden;
}